---
layout: default
---

<div class="tag-page-container">
  
  <h1 class="tag-page-title">Book of {{ page.tag_name }}</h1>

  <div class="posts-container">
    {% for post in site.posts %}
      {% if post.tag == page.tag_name %}
        
        <div class="post-card">
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <time class="post-date">
            {{ post.date | date: "%d %b %Y" }}
          </time>
          
          <div class="entry">
            {{ post.content | replace_first: "Devotional Meditation", "" | strip_html | truncatewords:30 }}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &rarr;</a>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>