<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="hydejack-wrapper">
      
      <aside class="sidebar">
        <div class="sidebar-inner">
          <header class="masthead">

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Blog</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>

          <footer class="sidebar-footer">
            {% include svg-icons.html %}
            <p class="copyright">&copy; {{ site.time | date: '%Y' }}</p>
          </footer>
        </div>
        <div class="scroll-indicator"></div>
      </aside>

      <main id="main" role="main" class="main-content">
        <div class="content-wrapper">
          {{ content }}
        </div>
      </main>

    </div>

    {% include analytics.html %}
    
    <script>
      var refTagger = {
        settings: {
          addLogosLink: true,
          bibleReader: "bible.faithlife",
          bibleVersion: "ESV",
          convertHyperlinks: true,
          logosLinkIcon: "light",
          noSearchTagNames: ["h1"],
          roundCorners: true,
          socialSharing: ["twitter","facebook","google"],
          tagChapters: true,
          customStyle : {
            heading: { backgroundColor : "#e6e7f8", color : "#4d22b3" },
            body   : { color : "#000000" }
          }
        }
      };
      (function(d, t) {
        var n=d.querySelector("[nonce]");
        refTagger.settings.nonce = n && (n.nonce||n.getAttribute("nonce"));
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = "https://api.reftagger.com/v2/RefTagger.js";
        g.nonce = refTagger.settings.nonce;
        s.parentNode.insertBefore(g, s);
      }(document, "script"));
    </script>
  </body>
</html>